* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #151c77, #5f5908);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}
label{
    color: black;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.header h2 {
    font-size: 1.8rem;
    color: #151c77;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.calcs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.calcs input {
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
    background-color: #f7f7f7;
    outline: none;
    transition: border-color 0.3s ease;
}

.calcs input:focus {
    border-color: #151c77;
    box-shadow: 0 0 5px rgba(21, 28, 119, 0.5);
}

.calcs input::placeholder {
    color: #999;
}

button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background-color: #151c77;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5f5908;
}
